:root {
    --spacing-0: 0;
	--spacing-1: 1px;
	--spacing-2: 2px;
	--spacing-5: 5px;
	--spacing-10: 10px;
	--spacing-15: 15px;
	--spacing-20: 20px;
	--spacing-25: 25px;
	--spacing-30: 30px;
	--spacing-35: 35px;
	--spacing-40: 40px;
	--spacing-45: 45px;
	--spacing-50: 50px;
	--spacing-neg-1: -1px;
	--spacing-neg-2: -2px;
	--spacing-neg-5: -5px;
	--spacing-neg-10: -10px;
	--spacing-neg-15: -15px;
	--spacing-neg-20: -20px;
	--spacing-neg-25: -25px;
	--spacing-neg-30: -30px;
	--spacing-neg-35: -35px;
	--spacing-neg-40: -40px;
	--spacing-neg-45: -45px;
	--spacing-neg-50: -50px;
	--spacing: var(--spacing-1);
}