
.auth-panel {
    background-image: url(../../asset/image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    justify-self: center;
    height: 100vh;
}