.form-panel {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: auto;
    padding: var(--spacing-15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    .form-header {
        font-size: 45px;
        text-align: center;
        color: #000;
    }

    .form-button-section {
        & button{
         margin-right: var(--spacing-10);  
        }
    }

    & > p {
        align-self: center;
    }
}